<form class="mt-5"
[formGroup]="formToken"
(ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label for="exampleInputEmail1">Authentication</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter token" formControlName="token">
    <small *ngIf="formToken.invalid && formToken.dirty" class="form-text text-danger">Invalid field</small>
  </div>
  <button
  [disabled]="formToken.invalid"
  type="submit" class="btn mt-3 btn-primary">Submit</button>
</form>
